.flex {
    display: flex;
    flex: 33%;
}
.member {
    min-width: 300px;
}
.member img {
    object-fit: cover;
    border-radius: 50%;
    height: 270px; 
    width: 270px; 
    margin: 10px 0; 
}
.face {
    transition: 0.5s;
}
#team{
    margin: auto;
    max-width: 1000px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 0; /*ADD*/
    
}
#team div:first-child{
	width: 100%;
}
#team div{
    margin: 10px 0;
    padding: 15px 15px 10px 15px;
}
h1, p{
    margin: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fas, .fab {
   margin: 5px;
   font-size: 30px;
}
.m-icons a{color: #48C9B0;}
.photo{
	background-color: whitesmoke;
	transform: translateY(120px);
}
.member:hover .photo{
    transform: translateY(0);
}
.info{
    color: transparent;
    transform: translateY(-50px);
}
.member:hover .info{
    color: #fff;
    transform: translateY(0);
    background-color: #48C9B0 !important;
}
 .fa-envelope-square:hover{color: #d93025;}
 .fa-linkedin:hover{color: #0077b5;}
 .fa-github-square:hover{color: #24292e;}
